<div>
  <p-table [value]="users | search: searchWord" [tableStyle]="{ 'min-width': '50rem' }" #dt1 dataKey="id"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']" [rows]="rowsPerPage"
    [rowsPerPageOptions]="[4, 8, 12]" [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>{{"المستخدم" | transloco}}</th>
        <th>{{"رقم التذكرة" | transloco}}</th>
        <th>
          {{"قيمة التذكرة" | transloco}}
          <img src="assets/icons/arrow-3.png" alt="">
        </th>
        <th>{{"السينمات" | transloco}}</th>
        <th>{{"عدد الأشخاص" | transloco}}</th>
        <th>{{"عدد مرات الشراء" | transloco}}</th>
        <th>{{"التذكرة" | transloco}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td tooltipPosition="top" pTooltip="{{user.id}}">{{ user.id }}</td>
        <td class="d-flex justify-content-center ">
          <div class="d-flex">
            <div class="user-profile mt-1 mx-1">
              <img [src]="user.image" alt="">
            </div>
            <div class="name-phone">
              <p class="name" tooltipPosition="top" pTooltip="{{user.name}}">{{user.name}}</p>
              <p class="phone" tooltipPosition="top" pTooltip="{{user.phone}}">{{user.phone}}</p>
            </div>
          </div>
        </td>
        <td tooltipPosition="top" pTooltip="{{user.ticketNo}}">{{ user.ticketNo }}</td>
        <td tooltipPosition="top" pTooltip="{{user.ticketValue}}">{{ user.ticketValue}}</td>
        <td tooltipPosition="top" pTooltip="{{user.cienmaName}}">{{ user.cienmaName | transloco }}</td>
        <td tooltipPosition="top" pTooltip="{{user.peopleNum}}">{{ user.peopleNum }}</td>
        <td tooltipPosition="top" pTooltip="{{user.buyingNo}}">{{ user.buyingNo | transloco }}</td>
        <!-- <td>{{ user.ticket }}</td> -->
        <td class="ticket">
          <div class="d-flex justify-content-center">
            <div>
              <img src="../../assets/icons/Frame 10.png" alt="">
            </div>
            <div class="mx-3" tooltipPosition="top" pTooltip="{{user.ticket}}">
              {{ user.ticket|transloco }}
            </div>
            <div>
              <img src="../../assets/icons/Group 1000010390.png" (click)="downloadImage(user.image, user.name +'.jpg')"
                alt="">
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="row px-0 mx-0 pt-3 " style="background-color:white;">
  <div class="col-6 d-flex">
    <p>{{"عرض"|transloco}}</p>
    <div class="drop-down-div d-flex flex-column align-items-start mx-2 ">
      <select [(ngModel)]="rowsPerPage" class=""
        style=" height: 1.893rem; width: 4.211rem; border:1px solid #e8e8e8; background-color: white; border-radius: 3px;"
        name="" id="">
        <option value="4">4</option>
        <option value="8">8</option>
      </select>
    </div>
    <p class="mx-1">{{"من أصل"|transloco}}</p>
    <p>{{users.length}}</p>
  </div>
</div>