<div class="tickets-dashboard container-fluid">
  <div class="row edit-back-row mt-lg-2">
    <div class="col-md-6 d-flex">
      <div class="back-icon-container d-flex justify-content-center align-items-center"
        style="background-color: #E7EAED; border-radius: 8px; width: 32px; height: 32px;">
        <img src="assets/icons/arrow-right.png" alt="">
      </div>
      <div class="ticket-number mx-2 ">
        <p>تذكرة رقم #2342</p>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <div class="edit-container d-flex justify-content-center align-items-center"
        style="background-color: #E9EAEA; border-radius: 8px; width: 78px; height: 34px;">
        <div><img src="assets/icons/edit.png" style="width: 18px; height: 18px;" alt=""></div>
        <p class="mx-1">تعديل</p>
      </div>
    </div>
  </div>
  <div class="row tick-chart-row mt-2">
    <div class="col-lg-9 ">
      <div class="chart-card " style="height: 264px; background-color: white;">
        <app-ticket-chart></app-ticket-chart>
      </div>
    </div>
    <div class="col-lg-3  px-2">
      <div class="ticket-card" style="min-height: 264px; overflow: hidden; border-radius: 10px;">
        <app-ticket></app-ticket>
      </div>
    </div>
  </div>
  <div class="row tickets-sales-row mt-lg-4">
    <div class="col-md-6  px-3">
      <div class="search-card d-flex justify-content-baseline">
        <p class="mt-1">مبيعات التذاكر</p>
        <div class="search position-realtive mx-2">
          <input #searchInput class="form-control position-realtive " placeholder="ابحث عن ..." type="search"
            (input)="search(searchInput.value)">
          <img class="position-absolute" src="../assets//icons/search-normal.png" alt="">
        </div>
        <div class="filter-icon-container d-flex justify-content-center align-items-center"
          style="background-color: #ffffff; border-radius: 8px; width: 36px; height: 36px;">
          <img src="assets/icons/Group 1000009748.png" alt="">
        </div>
        <div class="filter-icon-container d-flex justify-content-center align-items-center mx-2"
          style="background-color: #ffffff; border-radius: 8px; width: 36px; height: 36px;">
          <img src="assets//icons/Group 1000009749.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6  px-3">
      <div class="search-card d-flex justify-content-end">
        <div class=" d-flex justify-content-center align-items-center mt-2 mx-2">
          <p-inputSwitch />
        </div>
        <div class="active d-flex justify-content-center align-items-center ">
          <p>مفعلة</p>
        </div>
        <div class=" d-flex justify-content-center align-items-center mx-2">
          <button class="btn-new-ticket">
            <p>حجز تذكرة جديدة</p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row table-row mt-lg-4">
    <div class="col-lg-12  px-2">
      <div class="bg-success">
        <app-table></app-table>
      </div>
    </div>
  </div>
</div>