<div class="row d-flex justify-content-center position-realtive">
  <div class=" position-relative" id="main" style="width:100%; height: 260px;"></div>
  <div class=" date-for-expire d-flex flex-column align-items-start  pt-2 position-absolute"
    style="right: 60px;top: 5px;">
    <p>إحصائيات أستخدام الفسيمة</p>
    <div class="d-flex">
      <p class=" date my-2">05 يوليو , 2023 - 05 أغسطس , 2023</p>
      <div class="mx-2">
        <img src="assets/icons/Vector.png" alt="">
      </div>
    </div>
  </div>
  <div class=" d-flex flex-column align-items-start  pt-2 position-absolute" style="left: 50px;top: 5px;">
    <select class=""
      style="height: 1.893rem; width: 4.211rem; border:none; background-color: #E8E8E8; border-radius: 3px;" name=""
      id="">
      <option value="" selected>سنويا</option>
      <option value="">شهريا</option>
    </select>

  </div>

</div>