.demo-chart {
  height: 400px;
}

.date-for-expire p {
  font-family: 'Neo Sans Arabic Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 12.9px;
  color: #1C1C28;
  margin: 0;

  &.date {
    font-family: 'Neo Sans Arabic Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 12.9px;
    color: #99A1B7;
    margin: 0;
  }
}

select {

  font-family: 'Neo Sans Arabic Regular';
  font-size: 12.11px;
  font-weight: 400;
  line-height: 16.96px;
  color: #1C1C28;
  margin: 0;
}

.drop-down-div {
  position: absolute;
  top: 5px;
  left: 50px;
}

.date-for-expire {
  position: absolute;
  top: 5px;
  right: 60px;
}



@media(max-width:1280px) {
  .drop-down-div {
    position: absolute;
    top: 5px;
    left: 20px;
  }

  .date-for-expire {
    position: absolute;
    top: 5px;
    right: 20px;
  }
}