@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
  --primary-color: #8a74f9
}

@font-face {
  font-family: 'Neo Sans Arabic Regular';
  src: url('/assets/fonts/alfont_com_NeoSansArabic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}